# Load libraries

In [84]:
import pandas as pd
import numpy as np
from scipy import stats
pd.set_option('display.max_columns', 100)

# Reading the file

In [85]:
df=pd.read_csv('../data/raw/startup_data.csv')
df.head()

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,founded_at,closed_at,first_funding_at,last_funding_at,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,milestones,state_code.1,is_CA,is_NY,is_MA,is_TX,is_otherstate,category_code,is_software,is_web,is_mobile,is_enterprise,is_advertising,is_gamesvideo,is_ecommerce,is_biotech,is_consulting,is_othercategory,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1005,CA,42.358880,-71.056820,92101,c:6669,San Diego,NaN,Bandsintown,1,1/1/2007,NaN,4/1/2009,1/1/2010,2.2493,3.0027,4.6685,6.7041,3,3,375000,3,CA,1,0,0,0,0,music,0,0,0,0,0,0,0,0,0,1,c:6669,0,1,0,0,0,0,1.0000,0,acquired
1,204,CA,37.238916,-121.973718,95032,c:16283,Los Gatos,NaN,TriCipher,1,1/1/2000,NaN,2/14/2005,12/28/2009,5.1260,9.9973,7.0055,7.0055,9,4,40100000,1,CA,1,0,0,0,0,enterprise,0,0,0,1,0,0,0,0,0,0,c:16283,1,0,0,1,1,1,4.7500,1,acquired
2,1001,CA,32.901049,-117.192656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,1,3/18/2009,NaN,3/30/2010,3/30/2010,1.0329,1.0329,1.4575,2.2055,5,1,2600000,2,CA,1,0,0,0,0,web,0,1,0,0,0,0,0,0,0,0,c:65620,0,0,1,0,0,0,4.0000,1,acquired
3,738,CA,37.320309,-122.050040,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,1,1/1/2002,NaN,2/17/2005,4/25/2007,3.1315,5.3151,6.0027,6.0027,5,3,40000000,1,CA,1,0,0,0,0,software,1,0,0,0,0,0,0,0,0,0,c:42668,0,0,0,1,1,1,3.3333,1,acquired
4,1002,CA,37.779281,-122.419236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,0,8/1/2010,10/1/2012,8/1/2010,4/1/2012,0.0000,1.6685,0.0384,0.0384,2,2,1300000,1,CA,1,0,0,0,0,games_video,0,0,0,0,0,1,0,0,0,0,c:65806,1,1,0,0,0,0,1.0000,1,closed

# Checking null values, shape and types

In [52]:
df.shape

(923, 49)

In [53]:
df_na = df[:].isnull().sum()
df_na

Unnamed: 0                    0
state_code                    0
latitude                      0
longitude                     0
zip_code                      0
id                            0
city                          0
Unnamed: 6                  493
name                          0
labels                        0
founded_at                    0
closed_at                   588
first_funding_at              0
last_funding_at               0
age_first_funding_year        0
age_last_funding_year         0
age_first_milestone_year    152
age_last_milestone_year     152
relationships                 0
funding_rounds                0
funding_total_usd             0
milestones                    0
state_code.1                  1
is_CA                         0
is_NY                         0
is_MA                         0
is_TX                         0
is_otherstate                 0
category_code                 0
is_software                   0
is_web                        0
is_mobile                     0
is_enterprise                 0
is_advertising                0
is_gamesvideo                 0
is_ecommerce                  0
is_biotech                    0
is_consulting                 0
is_othercategory              0
object_id                     0
has_VC                        0
has_angel                     0
has_roundA                    0
has_roundB                    0
has_roundC                    0
has_roundD                    0
avg_participants              0
is_top500                     0
status                        0
dtype: int64

### Checking data types

In [54]:
df.dtypes

Unnamed: 0                    int64
state_code                   object
latitude                    float64
longitude                   float64
zip_code                     object
id                           object
city                         object
Unnamed: 6                   object
name                         object
labels                        int64
founded_at                   object
closed_at                    object
first_funding_at             object
last_funding_at              object
age_first_funding_year      float64
age_last_funding_year       float64
age_first_milestone_year    float64
age_last_milestone_year     float64
relationships                 int64
funding_rounds                int64
funding_total_usd             int64
milestones                    int64
state_code.1                 object
is_CA                         int64
is_NY                         int64
is_MA                         int64
is_TX                         int64
is_otherstate                 int64
category_code                object
is_software                   int64
is_web                        int64
is_mobile                     int64
is_enterprise                 int64
is_advertising                int64
is_gamesvideo                 int64
is_ecommerce                  int64
is_biotech                    int64
is_consulting                 int64
is_othercategory              int64
object_id                    object
has_VC                        int64
has_angel                     int64
has_roundA                    int64
has_roundB                    int64
has_roundC                    int64
has_roundD                    int64
avg_participants            float64
is_top500                     int64
status                       object
dtype: object

### Checking unique values to see if there is a mispelling

In [55]:
df['state_code'].unique()

array(['CA', 'MA', 'KY', 'NY', 'CO', 'VA', 'TX', 'WA', 'IL', 'NC', 'PA',
       'GA', 'NH', 'MO', 'FL', 'NJ', 'WV', 'MI', 'DC', 'CT', 'MD', 'OH',
       'TN', 'MN', 'RI', 'OR', 'UT', 'ME', 'NV', 'NM', 'IN', 'AZ', 'ID',
       'AR', 'WI'], dtype=object)

In [86]:
df['state_code.1'].unique()

array(['CA', 'MA', 'KY', 'NY', 'CO', 'VA', 'TX', 'WA', 'IL', 'NC', 'PA',
       'GA', 'NH', 'MO', 'FL', 'NJ', 'WV', 'MI', 'DC', 'CT', 'MD', 'OH',
       'TN', 'MN', 'RI', 'OR', 'UT', 'ME', 'NV', 'NM', 'IN', nan, 'AZ',
       'ID', 'AR', 'WI'], dtype=object)

### Dropping unwanted columns

In [57]:
df_new = df.drop(['Unnamed: 6', 'latitude', 'longitude', 'state_code.1','Unnamed: 0', 'zip_code', 'id', 'object_id'],  axis=1)

### Still looking into nan values

In [59]:
df_na = df_new[:].isnull().sum()
df_na

state_code                    0
city                          0
name                          0
labels                        0
founded_at                    0
closed_at                   588
first_funding_at              0
last_funding_at               0
age_first_funding_year        0
age_last_funding_year         0
age_first_milestone_year    152
age_last_milestone_year     152
relationships                 0
funding_rounds                0
funding_total_usd             0
milestones                    0
is_CA                         0
is_NY                         0
is_MA                         0
is_TX                         0
is_otherstate                 0
category_code                 0
is_software                   0
is_web                        0
is_mobile                     0
is_enterprise                 0
is_advertising                0
is_gamesvideo                 0
is_ecommerce                  0
is_biotech                    0
is_consulting                 0
is_othercategory              0
has_VC                        0
has_angel                     0
has_roundA                    0
has_roundB                    0
has_roundC                    0
has_roundD                    0
avg_participants              0
is_top500                     0
status                        0
dtype: int64

#the nan values for closed at are for the startups that were not closed, so let´s change to active

In [60]:
df_new.closed_at = df_new.closed_at.fillna('active')

In [61]:
df_na = df_new[:].isnull().sum()
df_na

state_code                    0
city                          0
name                          0
labels                        0
founded_at                    0
closed_at                     0
first_funding_at              0
last_funding_at               0
age_first_funding_year        0
age_last_funding_year         0
age_first_milestone_year    152
age_last_milestone_year     152
relationships                 0
funding_rounds                0
funding_total_usd             0
milestones                    0
is_CA                         0
is_NY                         0
is_MA                         0
is_TX                         0
is_otherstate                 0
category_code                 0
is_software                   0
is_web                        0
is_mobile                     0
is_enterprise                 0
is_advertising                0
is_gamesvideo                 0
is_ecommerce                  0
is_biotech                    0
is_consulting                 0
is_othercategory              0
has_VC                        0
has_angel                     0
has_roundA                    0
has_roundB                    0
has_roundC                    0
has_roundD                    0
avg_participants              0
is_top500                     0
status                        0
dtype: int64

 Renaming the column status for acquired since represents the same

In [62]:
df_new.rename(columns = {'status':'is_acquired'}, inplace = True)

In [63]:
df_new

,state_code,city,name,labels,founded_at,closed_at,first_funding_at,last_funding_at,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,milestones,is_CA,is_NY,is_MA,is_TX,is_otherstate,category_code,is_software,is_web,is_mobile,is_enterprise,is_advertising,is_gamesvideo,is_ecommerce,is_biotech,is_consulting,is_othercategory,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,is_acquired
0,CA,San Diego,Bandsintown,1,1/1/2007,active,4/1/2009,1/1/2010,2.2493,3.0027,4.6685,6.7041,3,3,375000,3,1,0,0,0,0,music,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1.0000,0,acquired
1,CA,Los Gatos,TriCipher,1,1/1/2000,active,2/14/2005,12/28/2009,5.1260,9.9973,7.0055,7.0055,9,4,40100000,1,1,0,0,0,0,enterprise,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,1,4.7500,1,acquired
2,CA,San Diego,Plixi,1,3/18/2009,active,3/30/2010,3/30/2010,1.0329,1.0329,1.4575,2.2055,5,1,2600000,2,1,0,0,0,0,web,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,4.0000,1,acquired
3,CA,Cupertino,Solidcore Systems,1,1/1/2002,active,2/17/2005,4/25/2007,3.1315,5.3151,6.0027,6.0027,5,3,40000000,1,1,0,0,0,0,software,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,3.3333,1,acquired
4,CA,San Francisco,Inhale Digital,0,8/1/2010,10/1/2012,8/1/2010,4/1/2012,0.0000,1.6685,0.0384,0.0384,2,2,1300000,1,1,0,0,0,0,games_video,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1.0000,1,closed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,CA,San Francisco,CoTweet,1,1/1/2009,active,7/9/2009,7/9/2009,0.5178,0.5178,0.5808,4.5260,9,1,1100000,2,1,0,0,0,0,advertising,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,6.0000,1,acquired
919,MA,Burlington,Reef Point Systems,0,1/1/1998,6/25/2008,4/1/2005,3/23/2007,7.2521,9.2274,6.0027,6.0027,1,3,52000000,1,0,0,1,0,0,security,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,2.6667,1,closed
920,CA,Sunnyvale,Paracor Medical,0,1/1/1999,6/17/2012,6/29/2007,6/29/2007,8.4959,8.4959,9.0055,9.0055,5,1,44000000,1,1,0,0,0,0,biotech,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,8.0000,1,closed
921,CA,San Francisco,Causata,1,1/1/2009,active,10/5/2009,11/1/2011,0.7589,2.8329,0.7589,3.8356,12,2,15500000,2,1,0,0,0,0,software,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1.0000,1,acquired
922,CA,Santa Clara,Asempra Technologies,1,1/1/2003,active,2/13/2006,2/13/2006,3.1205,3.1205,4.0027,4.0027,4,1,20000000,1,1,0,0,0,0,security,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,3.0000,1,acquired

Changing the values for numerical (1=yes, 0=no)

In [64]:
df_new.is_acquired[df_new.is_acquired == 'acquired'] = 1
df_new.is_acquired[df_new.is_acquired == 'closed'] = 0

C:\Users\pbevi\AppData\Local\Temp\ipykernel_11528\4199257821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new.is_acquired[df_new.is_acquired == 'acquired'] = 1
C:\Users\pbevi\AppData\Local\Temp\ipykernel_11528\4199257821.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new.is_acquired[df_new.is_acquired == 'closed'] = 0

In [65]:
df_new

,state_code,city,name,labels,founded_at,closed_at,first_funding_at,last_funding_at,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,milestones,is_CA,is_NY,is_MA,is_TX,is_otherstate,category_code,is_software,is_web,is_mobile,is_enterprise,is_advertising,is_gamesvideo,is_ecommerce,is_biotech,is_consulting,is_othercategory,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,is_acquired
0,CA,San Diego,Bandsintown,1,1/1/2007,active,4/1/2009,1/1/2010,2.2493,3.0027,4.6685,6.7041,3,3,375000,3,1,0,0,0,0,music,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1.0000,0,1
1,CA,Los Gatos,TriCipher,1,1/1/2000,active,2/14/2005,12/28/2009,5.1260,9.9973,7.0055,7.0055,9,4,40100000,1,1,0,0,0,0,enterprise,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,1,4.7500,1,1
2,CA,San Diego,Plixi,1,3/18/2009,active,3/30/2010,3/30/2010,1.0329,1.0329,1.4575,2.2055,5,1,2600000,2,1,0,0,0,0,web,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,4.0000,1,1
3,CA,Cupertino,Solidcore Systems,1,1/1/2002,active,2/17/2005,4/25/2007,3.1315,5.3151,6.0027,6.0027,5,3,40000000,1,1,0,0,0,0,software,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,3.3333,1,1
4,CA,San Francisco,Inhale Digital,0,8/1/2010,10/1/2012,8/1/2010,4/1/2012,0.0000,1.6685,0.0384,0.0384,2,2,1300000,1,1,0,0,0,0,games_video,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1.0000,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,CA,San Francisco,CoTweet,1,1/1/2009,active,7/9/2009,7/9/2009,0.5178,0.5178,0.5808,4.5260,9,1,1100000,2,1,0,0,0,0,advertising,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,6.0000,1,1
919,MA,Burlington,Reef Point Systems,0,1/1/1998,6/25/2008,4/1/2005,3/23/2007,7.2521,9.2274,6.0027,6.0027,1,3,52000000,1,0,0,1,0,0,security,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,2.6667,1,0
920,CA,Sunnyvale,Paracor Medical,0,1/1/1999,6/17/2012,6/29/2007,6/29/2007,8.4959,8.4959,9.0055,9.0055,5,1,44000000,1,1,0,0,0,0,biotech,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,8.0000,1,0
921,CA,San Francisco,Causata,1,1/1/2009,active,10/5/2009,11/1/2011,0.7589,2.8329,0.7589,3.8356,12,2,15500000,2,1,0,0,0,0,software,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1.0000,1,1
922,CA,Santa Clara,Asempra Technologies,1,1/1/2003,active,2/13/2006,2/13/2006,3.1205,3.1205,4.0027,4.0027,4,1,20000000,1,1,0,0,0,0,security,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,3.0000,1,1

For age first/last milestone year, I will use the mean to fill out the null values

In [66]:
df_new['age_first_milestone_year'].unique()

array([ 4.66850e+00,  7.00550e+00,  1.45750e+00,  6.00270e+00,
        3.84000e-02,  5.00270e+00,  3.00000e+00,  5.60550e+00,
        8.00550e+00,  2.91780e+00,  1.01342e+01, -6.16400e-01,
                nan,  7.94500e-01,  8.83840e+00,  5.50140e+00,
       -4.98600e-01,  1.28490e+00,  3.08770e+00,  4.08770e+00,
        3.75070e+00,  0.00000e+00,  3.69590e+00,  1.00000e+00,
        3.00270e+00,  3.41920e+00,  4.93150e+00,  2.18900e+00,
        4.51780e+00,  4.13700e-01,  6.08200e-01,  3.84110e+00,
        3.72050e+00,  5.83600e-01,  2.33150e+00,  5.66030e+00,
        8.74250e+00,  8.32900e-01,  1.11780e+00,  1.35620e+00,
        5.25480e+00,  2.00000e+00,  4.04930e+00,  7.33420e+00,
        4.00270e+00,  1.91510e+00,  2.89860e+00,  7.50680e+00,
       -1.91510e+00,  1.67400e+00,  4.57810e+00,  3.02190e+00,
        1.37000e-01,  2.41640e+00,  7.38080e+00,  3.09040e+00,
        2.31510e+00,  3.95340e+00,  3.83290e+00,  1.61600e-01,
        2.47950e+00,  1.83290e+00,  3.28490e+00,  1.00270e+00,
        2.17260e+00,  5.86300e-01,  6.00550e+00,  9.15100e-01,
        3.37810e+00,  3.04930e+00,  2.25480e+00,  4.95900e-01,
        2.00270e+00, -1.75070e+00, -5.86300e-01,  2.78360e+00,
        4.05500e-01, -3.34200e-01,  1.07342e+01,  1.03010e+00,
       -7.47900e-01,  1.74790e+00,  5.00550e+00,  3.31510e+00,
        5.16710e+00,  1.32880e+00,  7.75340e+00,  5.58360e+00,
        9.17800e-01,  4.49860e+00,  7.47900e-01,  2.98900e+00,
        3.66580e+00,  1.35890e+00,  5.49860e+00,  2.35620e+00,
        2.58080e+00,  1.58900e+00,  3.04380e+00,  2.36440e+00,
        6.63000e-01,  2.25210e+00,  1.95070e+00,  1.14790e+00,
        4.25210e+00,  2.81920e+00,  3.83010e+00,  6.75340e+00,
        5.80800e-01,  1.58360e+00,  3.26580e+00,  9.62470e+00,
        7.83840e+00,  1.10410e+00,  4.55620e+00,  5.67400e+00,
        3.59450e+00,  4.51510e+00,  8.49000e-02,  5.67120e+00,
        2.49860e+00,  1.24380e+00,  9.75340e+00,  2.46300e+00,
        7.67100e-01,  1.65480e+00,  9.00550e+00,  2.58900e+00,
        1.25210e+00,  1.27950e+00,  6.16990e+00,  8.42190e+00,
        3.13150e+00,  3.41640e+00, -4.08200e-01,  5.09590e+00,
        1.58080e+00,  1.35070e+00,  1.08770e+00, -1.35890e+00,
        2.66850e+00,  2.79450e+00,  2.46600e-01,  2.43010e+00,
       -1.41699e+01,  3.59180e+00,  3.66300e+00,  3.81100e+00,
       -8.22000e-02,  5.92330e+00,  1.10329e+01,  1.34790e+00,
        5.72330e+00,  3.39450e+00,  6.83290e+00,  2.08220e+00,
       -1.61600e-01,  1.10140e+00,  6.85000e-02,  7.37000e-01,
        3.84380e+00,  1.16440e+00,  2.06850e+00,  2.74000e-01,
        1.04930e+00,  3.66850e+00,  2.00550e+00,  5.24660e+00,
        2.83560e+00,  2.23840e+00,  4.31510e+00,  6.58630e+00,
        2.98630e+00,  1.75620e+00,  3.58360e+00,  1.04164e+01,
        3.91780e+00,  7.91800e-01,  4.97810e+00,  6.63560e+00,
        7.00270e+00,  3.68490e+00,  3.54250e+00,  3.41100e+00,
        3.42190e+00,  4.76160e+00,  5.69590e+00,  5.31510e+00,
        6.42470e+00, -4.19200e-01,  1.50960e+00,  7.61600e-01,
        1.98630e+00,  3.01400e-01,  2.90680e+00,  7.05210e+00,
       -2.49860e+00,  5.25750e+00,  1.63560e+00, -2.09320e+00,
        5.33700e+00,  2.30410e+00,  1.66850e+00,  3.75300e-01,
        2.75070e+00,  5.58630e+00,  4.95070e+00,  4.11000e-02,
        4.71780e+00,  3.06030e+00,  2.83840e+00,  1.66300e+00,
        3.24930e+00,  1.25041e+01,  8.22000e-02,  1.15890e+01,
        2.30140e+00,  2.67400e+00,  4.75620e+00,  3.76990e+00,
        2.52050e+00,  2.03010e+00,  3.63560e+00,  5.76160e+00,
        1.41370e+00,  2.66580e+00,  2.08490e+00,  2.07950e+00,
        6.32900e-01,  2.83010e+00,  1.09600e-01,  2.37260e+00,
        8.70410e+00, -1.00270e+00,  3.12300e-01,  1.16160e+00,
        3.21920e+00, -1.58630e+00,  6.65800e-01,  1.67100e-01,
        2.50140e+00, -2.05750e+00,  1.58630e+00,  6.71200e-01,
        6.21100e+00,  2.84110e+00,  1.00082e+01,  8.59450e+00,
        2.50410e+00,  1.90410e+00,  1.04959e+01,  4.20820e+00,
        8.57810e+00,  3.49860e+00,  4.16400e-01,  4.69040e+00,
        1.02740e+00,  6.97810e+00, -2.43800e-01,  5.91800e-01,
        5.91780e+00,  4.85210e+00,  2.27950e+00,  9.25480e+00,
        2.05750e+00,  4.41920e+00,  6.41640e+00,  8.30100e-01,
        2.40000e+00,  1.16710e+00,  2.42740e+00,  4.19200e-01,
        1.09836e+01,  8.19200e-01,  3.27400e+00,  5.96710e+00,
        1.66630e+01,  1.84660e+00,  4.68500e-01,  4.16440e+00,
        5.39730e+00,  1.41100e+00,  5.45200e-01,  3.67400e+00,
        1.03290e+00,  9.06800e-01,  3.74250e+00,  9.58630e+00,
        6.38360e+00,  3.25480e+00,  7.92050e+00,  5.81100e+00,
       -1.33420e+00,  3.83560e+00,  5.67950e+00,  2.16990e+00,
        2.64660e+00, -1.00000e+00, -6.58000e-02,  2.31230e+00,
        3.33150e+00,  1.39450e+00, -6.04660e+00,  4.58360e+00,
        1.92600e+00,  1.21100e+00,  2.04660e+00,  1.75070e+00,
        9.01400e-01,  2.97260e+00,  7.67120e+00,  8.38400e-01,
       -6.54800e-01,  2.23290e+00, -9.37000e-01,  2.98600e-01,
        5.83560e+00,  2.92050e+00,  3.33970e+00,  2.72600e+00,
        3.43010e+00, -3.01000e-02, -2.19000e-02,  6.41920e+00,
        2.16440e+00,  3.56000e-02,  1.18411e+01,  5.41920e+00,
        6.30000e-02,  8.14520e+00,  2.08770e+00,  4.24660e+00,
        3.66030e+00,  3.60270e+00,  2.24110e+00, -1.67100e-01,
        1.05918e+01,  5.54250e+00, -3.00000e+00,  1.31780e+00,
        1.66030e+00,  7.50140e+00,  2.16400e-01,  5.83840e+00,
        1.44930e+00,  1.61370e+00,  3.15340e+00,  5.52050e+00,
        4.96440e+00,  8.93200e-01,  1.30110e+01,  2.49590e+00,
        7.17260e+00,  2.28220e+00,  2.95340e+00,  6.46580e+00,
        1.08490e+00,  8.41100e-01,  2.16160e+00,  2.46849e+01,
        1.64400e-01,  2.36710e+00,  3.39700e-01,  5.92050e+00,
        4.09590e+00,  1.00301e+01,  2.41920e+00,  6.60270e+00,
        2.87400e+00, -5.04100e-01,  2.32880e+00,  8.98080e+00,
        1.54986e+01,  5.48220e+00,  3.16990e+00,  2.74790e+00,
        4.68220e+00,  4.87400e+00,  2.11510e+00,  4.24930e+00,
       -1.69900e-01,  4.74000e-01,  2.52100e-01,  1.41640e+00,
        3.28770e+00,  8.76700e-01,  3.29040e+00,  7.40000e+00,
        3.28800e-01,  1.18630e+00,  3.06800e-01,  4.36990e+00,
        5.08490e+00,  1.29590e+00,  5.89000e-01,  9.25750e+00,
        5.01400e-01, -2.47000e-02,  5.56990e+00,  6.58360e+00,
        7.34200e-01,  4.56990e+00,  1.07507e+01,  1.06300e+00,
        2.48490e+00,  4.66000e-02,  7.72600e-01,  3.89590e+00,
        3.03010e+00,  2.66030e+00,  9.34250e+00,  2.63840e+00,
        8.16990e+00,  3.16440e+00,  2.34520e+00,  9.04100e-01,
       -3.75070e+00,  2.32600e+00,  4.17260e+00,  2.70410e+00,
        5.85480e+00,  4.36440e+00,  1.30960e+00,  3.15100e-01,
        1.95620e+00,  2.33970e+00,  3.34200e-01, -1.80270e+00,
        1.26850e+00,  4.63010e+00,  5.87950e+00,  7.53400e-01,
        4.41640e+00,  2.69040e+00,  4.08200e-01, -4.32900e-01,
        1.49590e+00, -9.15100e-01,  6.96710e+00, -1.25210e+00,
        3.97530e+00,  5.86030e+00,  6.04380e+00,  5.37000e-01,
        2.24930e+00,  4.15070e+00,  5.67100e-01,  5.25210e+00,
        6.88490e+00,  2.40270e+00,  6.35070e+00,  2.51780e+00,
        5.52880e+00,  2.02470e+00,  1.48220e+00,  7.97300e-01,
        5.75070e+00,  1.18080e+00,  3.64660e+00,  3.15070e+00,
        3.13420e+00,  3.37000e-01, -7.00550e+00,  6.95890e+00,
        6.53420e+00,  3.48220e+00,  1.61100e+00,  7.12330e+00,
        3.16160e+00,  2.91510e+00,  8.50410e+00,  7.58900e-01])

In [67]:
df_new['age_last_milestone_year'].unique()

array([ 6.7041,  7.0055,  2.2055,  6.0027,  0.0384,  5.0027,  6.6082,
        7.3616,  9.9945,  6.1151, 10.6493,  4.6082,     nan,  4.3781,
        8.8384,  5.5014, 12.6795,  3.0027,  3.4932,  9.4986,  3.7507,
        0.    ,  5.663 ,  1.    ,  5.2301,  5.6767,  7.7753,  4.5178,
        3.    ,  2.1671,  4.3315,  4.7507,  7.137 ,  7.6164,  0.5945,
        2.7918,  8.3425, 10.2247,  2.7425,  1.663 ,  1.6575,  7.8822,
        2.    ,  3.2767,  8.3233,  7.3342,  7.5973,  6.7534,  1.9151,
        5.2575, 12.8932, -1.9151,  3.1342,  7.3918,  7.6877,  3.337 ,
        4.2274,  0.137 ,  5.3151, 10.474 ,  3.7836,  5.0548,  1.5479,
        3.1644,  4.8356,  4.0027,  7.6932,  2.6767,  0.4137,  9.126 ,
        0.1616,  4.6685,  2.6712,  4.8192,  4.9315,  5.5151,  8.2849,
        4.6   ,  5.6164, 10.9041,  1.0356,  6.3096,  3.7753,  6.5233,
        2.5342,  2.9781,  3.011 ,  2.0027,  2.1096,  3.6466,  0.2521,
        3.7534, 11.2548,  1.3205, -0.3342, 10.7342,  1.1123,  4.4767,
        6.0055,  1.7479,  7.0877,  6.7918,  8.0082,  5.2192,  5.6849,
        2.9479,  7.7534,  3.6767, 11.3918,  0.9178,  0.7781,  8.3534,
       11.4164,  2.6849,  6.863 ,  3.6712,  1.0027,  0.5836,  1.3753,
        5.4986,  4.4247,  4.3671,  4.1041,  4.6493,  6.8411,  3.6685,
        2.6247,  0.7479,  2.2822,  3.7781,  5.7671,  5.8849,  4.0877,
        0.5808,  5.0055,  4.5315,  5.5397,  4.2137,  9.737 , 10.3945,
        7.8384,  1.6795,  7.9863, 13.5562,  4.5753,  6.9123,  5.3863,
        6.8986,  5.3233,  1.7726, 12.8027,  3.2164,  2.0959,  9.7726,
        2.589 ,  1.2521,  1.8192,  4.1918,  1.4712,  8.4219,  4.137 ,
        3.4164,  7.4548,  7.3863,  1.5808,  3.3315,  3.8137,  3.0575,
        7.4493,  0.2466,  7.6247,  2.2082,  4.326 ,  5.611 ,  0.7562,
        4.9178, 10.7616,  1.7205,  6.    ,  4.1699, 11.0575,  1.3479,
        8.3178,  8.7342,  4.9863,  8.874 ,  8.3014,  2.3288,  1.8384,
        1.1616,  0.4   ,  5.3425,  5.7945,  0.737 ,  2.7288, 10.189 ,
        6.5589,  3.5699,  2.8219,  6.9973,  0.863 ,  6.9178,  8.4   ,
        1.0493,  1.411 ,  6.2247,  2.7315,  9.1534,  6.1123,  4.474 ,
        3.7562,  5.9041,  6.1452,  6.5863,  4.0219,  4.874 ,  5.4767,
       12.1863,  4.5041,  1.737 ,  1.3973,  1.863 ,  7.0301,  6.6356,
        7.0027,  4.7753,  5.6274,  6.0712,  3.411 ,  7.2274,  5.1507,
        8.1781,  5.7699,  3.1096, 11.3836,  7.3562, -0.4192,  2.1781,
        4.9288,  5.9616,  5.0082,  8.6192,  5.4822,  9.8356,  4.7205,
        9.7753, 11.9699,  1.6356,  4.4082,  7.274 ,  2.7534,  3.5507,
        9.0904,  0.5425,  5.589 , 11.9452,  5.7178,  7.3726,  3.9178,
        5.0959,  3.7479,  4.0192, 14.0329,  7.9178,  0.0822, 13.5863,
        7.3205,  3.8356,  8.3836,  6.0466,  5.9233,  5.0192,  4.6164,
        7.4877,  9.8849,  6.0329,  1.4137,  7.1973,  2.0849,  9.3507,
        4.263 ,  5.4384,  4.6904,  0.1096,  2.3726,  8.7068,  2.6521,
        7.5918,  1.1479,  2.3589,  4.6603,  0.6658,  2.4438,  3.6411,
        6.8767,  1.6658,  3.3151,  8.6082,  2.8411, 10.0082,  9.3616,
        9.1096,  5.1836,  8.3973, 12.6137,  6.3479, 10.0137,  3.4986,
        9.0055,  0.4164,  9.2192,  5.263 ,  0.2849,  4.9699,  7.9342,
        6.0904,  4.3918,  9.2548,  1.8329,  2.5041,  9.8164,  9.0658,
        0.8301,  2.526 ,  2.011 ,  3.9151,  2.4986,  0.4192, 12.6822,
        6.7342,  1.2137,  0.5863,  0.8192,  7.6274,  5.9671, 18.3233,
        9.874 ,  9.1863,  6.4301,  4.4877,  2.9507,  4.7014,  7.6904,
       10.7534,  8.7123,  6.537 ,  2.0301,  1.7151,  7.2438,  5.4164,
        3.7425,  9.5863,  6.3836,  4.6932,  9.211 ,  5.8356, 11.0986,
       -1.3342,  7.8959,  5.6795,  8.0055,  5.0822,  2.6959,  8.674 ,
        2.9616,  3.0849,  3.0685,  4.6301,  5.2438,  4.2356, -3.8822,
        4.726 ,  4.0137,  2.3836,  3.326 ,  3.589 ,  0.9014,  3.7041,
        8.2219,  2.2548,  7.2356,  3.4959,  3.9918, -0.6548,  4.337 ,
        0.0849,  0.2986,  4.3096,  5.1918,  3.5425,  7.411 ,  4.4274,
        1.2274,  6.4192,  4.5123,  2.9014,  0.0356, 12.0548,  5.2548,
        5.4192,  1.5836,  6.6548,  8.1452,  4.0685,  4.7918,  4.0795,
        4.8521,  2.2411, -0.1671, 11.3288, 10.5918,  6.7562, -3.    ,
        4.1589,  3.0247,  6.2466,  1.3096,  5.8384,  6.4219,  4.3945,
        7.189 ,  7.2575,  7.4301,  4.1562,  5.2767, 13.011 ,  5.6712,
        7.1726,  3.1699,  3.2493,  5.5863,  9.274 ,  3.9699,  8.8411,
        2.3014,  2.0411,  5.3808,  3.4438, 24.6849,  0.1644,  5.0932,
        2.7123,  4.7781,  1.3068, 12.5096,  2.4877,  6.3808,  4.926 ,
        3.1726,  0.6904,  6.8   , 11.0329,  4.989 ,  5.2   ,  3.2219,
        2.9178,  8.9205,  3.8795, 10.9315,  1.189 ,  6.7233,  2.1452,
        4.3014,  3.8301,  2.4384, 12.7233, 15.4986,  6.7699,  4.6247,
        4.8384,  4.    ,  4.2493,  1.6329,  2.2137,  0.9205,  5.8329,
        2.0575,  2.6822,  3.2877,  7.7671,  3.0274,  5.2685, 11.874 ,
        0.3288, 11.4219, 10.2219,  2.5452,  0.3068,  6.463 ,  2.9425,
        2.337 ,  3.4301,  7.3699,  3.3781,  8.9534,  9.2575,  1.3781,
        1.9288,  6.1096,  6.6822,  5.0493,  4.5699, 10.7507,  1.063 ,
        4.8712,  0.0466,  9.5315,  1.4164,  2.1699,  5.9068,  4.1836,
        4.2877, 10.4603,  3.8164,  8.1699,  3.5205,  7.5233,  5.5479,
        3.4575,  0.9041, -3.7507,  6.9041,  5.7205,  1.2247,  8.0932,
        7.1699,  3.5836,  6.1973, 10.9233,  4.8822,  7.7562,  5.3342,
        0.1342,  2.8822,  1.2986,  5.9479,  2.3397, -0.0959,  5.1863,
        1.0685,  5.5534,  9.3808,  2.811 ,  4.4164,  3.5397,  0.8712,
        1.9123,  2.8521,  2.4658,  8.3342,  5.1616,  4.0493,  3.9753,
        7.6712,  6.8849,  3.6274,  2.2493,  6.1178,  4.6849,  2.3534,
        5.2521,  4.0548,  2.1315,  2.2521,  9.4411,  5.5288,  1.4822,
        5.2849,  9.7534,  7.3068,  2.5945,  6.5123,  1.1808,  6.6959,
        2.4685,  5.3123, -7.0055,  8.9342,  7.6658,  4.5096,  7.1233,
        4.6219,  8.5123,  5.7342,  8.7589,  4.526 ])

In [68]:
df_new['age_first_milestone_year'].fillna(df_new['age_first_milestone_year'].median(), inplace = True)
df_new['age_first_milestone_year']

0      4.6685
1      7.0055
2      1.4575
3      6.0027
4      0.0384
        ...
918    0.5808
919    6.0027
920    9.0055
921    0.7589
922    4.0027
Name: age_first_milestone_year, Length: 923, dtype: float64

In [69]:
df_new['age_last_milestone_year'].fillna(df_new['age_last_milestone_year'].median(), inplace = True)
df_new['age_last_milestone_year']

0      6.7041
1      7.0055
2      2.2055
3      6.0027
4      0.0384
        ...
918    4.5260
919    6.0027
920    9.0055
921    3.8356
922    4.0027
Name: age_last_milestone_year, Length: 923, dtype: float64

In [70]:
df_na = df_new[:].isnull().sum()
df_na

state_code                  0
city                        0
name                        0
labels                      0
founded_at                  0
closed_at                   0
first_funding_at            0
last_funding_at             0
age_first_funding_year      0
age_last_funding_year       0
age_first_milestone_year    0
age_last_milestone_year     0
relationships               0
funding_rounds              0
funding_total_usd           0
milestones                  0
is_CA                       0
is_NY                       0
is_MA                       0
is_TX                       0
is_otherstate               0
category_code               0
is_software                 0
is_web                      0
is_mobile                   0
is_enterprise               0
is_advertising              0
is_gamesvideo               0
is_ecommerce                0
is_biotech                  0
is_consulting               0
is_othercategory            0
has_VC                      0
has_angel                   0
has_roundA                  0
has_roundB                  0
has_roundC                  0
has_roundD                  0
avg_participants            0
is_top500                   0
is_acquired                 0
dtype: int64

Nan values fixed, lets check if tehre is any negative value in the ages

In [71]:
age=["age_first_funding_year","age_last_funding_year","age_first_milestone_year","age_last_milestone_year"]

for a in range(len(age)):
    print("Is there any negative value in '{}' column  : {} ".format(age[a],(df_new[age[a]]<0).any()))

Is there any negative value in 'age_first_funding_year' column  : True
Is there any negative value in 'age_last_funding_year' column  : True
Is there any negative value in 'age_first_milestone_year' column  : True
Is there any negative value in 'age_last_milestone_year' column  : True

Let´s get the absolute value of columns including negative value

In [72]:
# we must get the absolute value of columns including negative value

df_new["age_first_funding_year"]=np.abs(df_new["age_first_funding_year"])
df_new["age_last_funding_year"]=np.abs(df_new["age_last_funding_year"])
df_new["age_first_milestone_year"]=np.abs(df_new["age_first_milestone_year"])
df_new["age_last_milestone_year"]=np.abs(df_new["age_last_milestone_year"])

In [73]:
age=["age_first_funding_year","age_last_funding_year","age_first_milestone_year","age_last_milestone_year"]

for a in range(len(age)):
    print("Is there any negative value in '{}' column  : {} ".format(age[a],(df_new[age[a]]<0).any()))

Is there any negative value in 'age_first_funding_year' column  : False
Is there any negative value in 'age_last_funding_year' column  : False
Is there any negative value in 'age_first_milestone_year' column  : False
Is there any negative value in 'age_last_milestone_year' column  : False

In [74]:
df_new

,state_code,city,name,labels,founded_at,closed_at,first_funding_at,last_funding_at,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,milestones,is_CA,is_NY,is_MA,is_TX,is_otherstate,category_code,is_software,is_web,is_mobile,is_enterprise,is_advertising,is_gamesvideo,is_ecommerce,is_biotech,is_consulting,is_othercategory,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,is_acquired
0,CA,San Diego,Bandsintown,1,1/1/2007,active,4/1/2009,1/1/2010,2.2493,3.0027,4.6685,6.7041,3,3,375000,3,1,0,0,0,0,music,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1.0000,0,1
1,CA,Los Gatos,TriCipher,1,1/1/2000,active,2/14/2005,12/28/2009,5.1260,9.9973,7.0055,7.0055,9,4,40100000,1,1,0,0,0,0,enterprise,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,1,4.7500,1,1
2,CA,San Diego,Plixi,1,3/18/2009,active,3/30/2010,3/30/2010,1.0329,1.0329,1.4575,2.2055,5,1,2600000,2,1,0,0,0,0,web,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,4.0000,1,1
3,CA,Cupertino,Solidcore Systems,1,1/1/2002,active,2/17/2005,4/25/2007,3.1315,5.3151,6.0027,6.0027,5,3,40000000,1,1,0,0,0,0,software,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,3.3333,1,1
4,CA,San Francisco,Inhale Digital,0,8/1/2010,10/1/2012,8/1/2010,4/1/2012,0.0000,1.6685,0.0384,0.0384,2,2,1300000,1,1,0,0,0,0,games_video,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1.0000,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,CA,San Francisco,CoTweet,1,1/1/2009,active,7/9/2009,7/9/2009,0.5178,0.5178,0.5808,4.5260,9,1,1100000,2,1,0,0,0,0,advertising,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,6.0000,1,1
919,MA,Burlington,Reef Point Systems,0,1/1/1998,6/25/2008,4/1/2005,3/23/2007,7.2521,9.2274,6.0027,6.0027,1,3,52000000,1,0,0,1,0,0,security,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,2.6667,1,0
920,CA,Sunnyvale,Paracor Medical,0,1/1/1999,6/17/2012,6/29/2007,6/29/2007,8.4959,8.4959,9.0055,9.0055,5,1,44000000,1,1,0,0,0,0,biotech,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,8.0000,1,0
921,CA,San Francisco,Causata,1,1/1/2009,active,10/5/2009,11/1/2011,0.7589,2.8329,0.7589,3.8356,12,2,15500000,2,1,0,0,0,0,software,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1.0000,1,1
922,CA,Santa Clara,Asempra Technologies,1,1/1/2003,active,2/13/2006,2/13/2006,3.1205,3.1205,4.0027,4.0027,4,1,20000000,1,1,0,0,0,0,security,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,3.0000,1,1

Let´s use only the years from founded_at, first_funding_at, last_funding_at instead of the whole date

In [75]:
df_new['founded_at_year'] = pd.DatetimeIndex(df_new['founded_at']).year
df_new['first_funding_at_year'] = pd.DatetimeIndex(df_new['first_funding_at']).year
df_new['last_funding_at_year'] = pd.DatetimeIndex(df_new['last_funding_at']).year

In [76]:
df_new.head()

,state_code,city,name,labels,founded_at,closed_at,first_funding_at,last_funding_at,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,milestones,is_CA,is_NY,is_MA,is_TX,is_otherstate,category_code,is_software,is_web,is_mobile,is_enterprise,is_advertising,is_gamesvideo,is_ecommerce,is_biotech,is_consulting,is_othercategory,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,is_acquired,founded_at_year,first_funding_at_year,last_funding_at_year
0,CA,San Diego,Bandsintown,1,1/1/2007,active,4/1/2009,1/1/2010,2.2493,3.0027,4.6685,6.7041,3,3,375000,3,1,0,0,0,0,music,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1.0000,0,1,2007,2009,2010
1,CA,Los Gatos,TriCipher,1,1/1/2000,active,2/14/2005,12/28/2009,5.1260,9.9973,7.0055,7.0055,9,4,40100000,1,1,0,0,0,0,enterprise,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,1,4.7500,1,1,2000,2005,2009
2,CA,San Diego,Plixi,1,3/18/2009,active,3/30/2010,3/30/2010,1.0329,1.0329,1.4575,2.2055,5,1,2600000,2,1,0,0,0,0,web,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,4.0000,1,1,2009,2010,2010
3,CA,Cupertino,Solidcore Systems,1,1/1/2002,active,2/17/2005,4/25/2007,3.1315,5.3151,6.0027,6.0027,5,3,40000000,1,1,0,0,0,0,software,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,3.3333,1,1,2002,2005,2007
4,CA,San Francisco,Inhale Digital,0,8/1/2010,10/1/2012,8/1/2010,4/1/2012,0.0000,1.6685,0.0384,0.0384,2,2,1300000,1,1,0,0,0,0,games_video,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1.0000,1,0,2010,2010,2012

Dropping the columns with the whole dates

In [77]:
df_new = df_new.drop(['founded_at', 'first_funding_at', 'last_funding_at'],  axis=1)

In [78]:
df_new.dtypes

state_code                   object
city                         object
name                         object
labels                        int64
closed_at                    object
age_first_funding_year      float64
age_last_funding_year       float64
age_first_milestone_year    float64
age_last_milestone_year     float64
relationships                 int64
funding_rounds                int64
funding_total_usd             int64
milestones                    int64
is_CA                         int64
is_NY                         int64
is_MA                         int64
is_TX                         int64
is_otherstate                 int64
category_code                object
is_software                   int64
is_web                        int64
is_mobile                     int64
is_enterprise                 int64
is_advertising                int64
is_gamesvideo                 int64
is_ecommerce                  int64
is_biotech                    int64
is_consulting                 int64
is_othercategory              int64
has_VC                        int64
has_angel                     int64
has_roundA                    int64
has_roundB                    int64
has_roundC                    int64
has_roundD                    int64
avg_participants            float64
is_top500                     int64
is_acquired                  object
founded_at_year               int64
first_funding_at_year         int64
last_funding_at_year          int64
dtype: object

In [79]:
df_new['relationships'].unique()

array([ 3,  9,  5,  2,  6, 25, 13, 14, 22,  8,  0, 15, 12,  7, 10,  1,  4,
       37, 18, 26, 11, 17, 24, 16, 21, 27, 30, 33, 32, 23, 57, 20, 35, 19,
       45, 31, 29, 63, 42, 28, 38], dtype=int64)

Adding the new column success which consider a company that is closed a fail and a success if was acquired and is active or if is top500 and active

In [80]:
def fix_closed(x):
    if x.startswith('a'):
        return 'active'
    else:
        return 'notactive'

df_new['closed_at'] = df_new['closed_at'].apply(fix_closed)

In [81]:
def success_or_not(df_new):
    df1=df_new.copy()
    
    if (((df1['is_top500']==1)|(df1['is_acquired']==1)) & (df1['closed_at']=="active")):
        return 1
    elif (((df1['is_top500']==0) & (df1['is_acquired']==0)) | (df1['closed_at']=="notactive")):
        return 0

In [82]:
df_new['success'] = df_new.apply(success_or_not,axis=1)

Saving the new dataset to another csv file

In [83]:
df_new.to_csv('startup_data_clean2.csv', header=True, index=False)